.addForm {
  padding: 10px;
  padding-top: 0;
  form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;

    > div {
      width: calc(50% - 20px);
      display: flex;
      flex-flow: column;
      gap: 10px;
    }
    .full {
      width: 100%;
    }

    .btns {
      margin-top: 10px;
      display: flex;
      flex-flow: row;
      justify-content: end;
      margin-right: auto;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .addForm {
    width: 100vw;
    height: calc(100dvh - 40px);
    padding: 0 20px;
    form {
      gap: 20px;
      > div {
        width: calc(50% - 10px);

        input,
        select,
        label {
          font-size: 12px !important;
        }
      }
      .mobile-full {
        width: 100% !important;
      }
      .btns {
        width: 100%;
        button {
          font-size: 12px !important;
          flex: 1;
        }
      }
    }
  }
}
