.profile {
  display: flex;
  flex-flow: column;
  gap: 20px;
  height: 100dvh;

  .container {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 20px;

    .top {
      display: flex;
      gap: 80px;
      padding-left: 15%;
      height: fit-content;

      .avatar {
        height: 280px;
        aspect-ratio: 1/1;
        img {
          max-height: 100%;
          border-radius: 12px;
        }
      }
      .info {
        flex: 1;
      }
    }
  }

  .progress-bar {
    position: relative;
    width: 100%;
    padding: 4px;
    border-radius: 50px;
    background-color: var(--gray);
    margin-top: 40px;

    .bar {
      height: 20px;
      border-radius: 50px;
      background-color: var(--primary);
      color: var(--background);
      box-shadow: var(--shadow);
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;
      padding: 0 10px;
    }

    .info {
      position: absolute;
      font-weight: bold;
      left: 10px;
      top: -30px;
    }
  }

  .numbers {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      gap: 20px;

      h2 {
        line-height: 30px;
      }
      .icon {
        transition: 0.3s;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--background);
        box-shadow: var(--shadow);
        border-radius: 12px;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .bottom {
    flex: 1;
    display: flex;
    gap: 20px;

    > .card {
      padding: 20px 30px;
    }

    h2 {
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid var(--gray);
    }
    .details {
      display: flex;
      flex-flow: column;
      gap: 20px;
      .item {
        display: flex;
        justify-content: space-between;

        p {
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }
    .personal-info {
      flex: 2;
    }
    .scholars-info {
      flex: 2;
    }
    .options {
      flex: 1;
      .btns {
        display: flex;
        flex-flow: column;
        gap: 20px;

        button {
          border: 2px solid var(--primary);
        }

        .password {
          background-color: var(--primary-50);
          color: var(--primary);
        }
        .secondary {
          background-color: var(--secondary);
          border-color: var(--gray);
          color: var(--text);
        }
        .delete {
          background-color: var(--error-bg);
          border-color: var(--error);
          color: var(--error);
        }
      }
    }
  }

  .pass-form,
  .info-form {
    form {
      margin-top: 20px;
      display: flex;
      flex-flow: column;
      gap: 20px 40px;
      min-width: 350px;

      > div {
        display: flex;
        flex-flow: column;
        gap: 10px;
      }
      .btns {
        margin-top: 10px;
        display: flex;
        flex-flow: row;
        justify-content: end;
        margin-right: auto;
        gap: 20px;
      }
    }
  }

  .action-modal {
    .btns {
      /* gap: 20px; */
    }
  }
}

@media (max-width: 768px) {
  .profile {
    header {
      margin-bottom: 0;
    }
    .container {
      padding-bottom: 80px;
      .top {
        flex-flow: column;
        align-items: center;
        padding-left: 20px;
        gap: 20px;

        .avatar {
          width: 100%;
          flex: 1;

          img {
            width: 100%;
            height: 100%;
          }
        }

        h1 {
          font-size: 20px;
        }
      }
    }
    .info {
      width: 100%;
    }

    .progress-bar {
      margin-top: 20px;
      width: 90%;

      .bar {
        height: 15px;
        font-size: 11px;
      }

      .info {
        top: -25px;
        text-align: end;
      }
    }

    .bottom {
      flex-flow: column;
      .details {
        .item {
          p,
          h3 {
            font-size: 12px;
          }
        }
      }
    }
    .numbers {
      margin-top: 20px;
      flex-flow: column;
      align-items: flex-start;
      gap: 10px;
      .item {
        .icon {
          height: 60px;
          width: 60px;
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .pass-form,
    .info-form {
      form {
        min-width: auto;
        width: 70vw;
      }

      .btns {
        width: 100%;
        button {
          flex: 1;
          font-size: 12px;
        }
      }
    }
  }
}
