.statistics-slider {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h3 {
      margin: 0;
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .btn {
      background: var(--secondary);
      border: 1px solid var(--gray);
      color: var(--text);
      width: 32px;
      height: 32px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .indicator {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .stat {
      display: flex;
      flex-flow: column;
      gap: 20px;
      width: 100%;
      /* transition: all 0.3s ease; */

      .info {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
      }

      .description {
        /* min-height: 100px; */
        margin: 7px;
        padding: 0 15px 0 10px;
        border-right: 4px solid var(--color);
      }

      .icon {
        width: 60px;
        height: 60px;
        background: var(--bg);
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        flex-shrink: 0;

        svg {
          width: 26px;
          height: 26px;
        }
      }

      .value {
        font-weight: 800;
        color: var(--color) !important;
        font-size: 1rem;
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: var(--gray);
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .dot.active {
    background: var(--primary);
    transform: scale(1.2);
  }

  .dot:hover {
    transform: scale(1.2);
  }
}
