@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --primary: #7664e4;
  --secondary: #ffffff;
  --background: #f5f4ff;
  --text: #333;

  --primary-50: #7664e415;

  --warning: #f9970c;
  --warning-bg: #f9970c15;
  --error: #e83838;
  --error-bg: #e8383815;
  --success: #10b981;
  --success-bg: #10b98115;
  --info: #2563eb;
  --info-bg: #2563eb15;

  --white: #ffffff;
  --black: #000;
  --gray: #e7e7e7;

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

[data-theme="dark"] {
  --primary: #7664e4;
  --secondary: #1c1c1e;
  --background: #121212;
  --text: #f5f4ff;

  --primary-50: #7664e415;

  --warning: #f9970c;
  --warning-bg: #f9970c15;
  --error: #e83838;
  --error-bg: #e8383815;
  --success: #10b981;
  --success-bg: #10b98115;

  --gray: #313131;

  --shadow: 0 4px 10px rgba(0, 0, 0, 0.288);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: background 0.3s, color 0.3s;
  font-family: "Cairo", sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
}

.page {
  margin-right: 270px; /* To accommodate the sidebar */
  padding: 20px;
  padding-right: 30px;
  height: 100vh;
}

input,
select,
textarea {
  font-family: "Cairo", sans-serif;
  border: 1px solid var(--gray);
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 8px;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
}

.optional {
  label::after {
    content: "(اختياري)";
    margin: 0 10px;
    opacity: 0.4;
  }
}

button {
  box-shadow: var(--shadow);
}
button.primary,
a.primary {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
button.secondary,
a.secondary {
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button.icon,
a.icon {
  cursor: pointer;
  padding: 13px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

p {
  opacity: 0.6;
}

.card {
  background: var(--secondary);
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: 20px;
}

.notfound {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  img {
    width: 40%;
  }
  h1 {
    margin-top: 20px;
  }

  a {
    width: fit-content;
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  label {
    font-size: 14px;
  }
  input,
  select,
  textarea {
    font-size: 14px;
    padding: 7px 15px;
  }

  button.primary,
  a.primary,
  button.seconday,
  a.secondary {
    padding: 7px 15px;
  }
}
